#reader {
	margin-left: 5%;
	width: 90%;
	height: 700px;
}

#name {

}

#info {

}

#image {

}

h1 {
	color: lightblue;
	text-align: center;
	font-size: 56px;
}

body {
	background-color: black;
}

h3 {
	color: #fff;
	text-align: center;
}

button {
	display: block;
	margin: auto;
}