#reader {
	margin-left: 5%;
	width: 90%;
	height: 700px;
}

#name {
    font-size: 56px;
    text-align: center;
}

#info {
    width: 75%;
    padding-left:8em;
    font-size: 25px;
}

#image {
    width: 75%;
    padding-left:8em ;
}

h1 {
	color: lightblue;
	text-align: center;
	font-size: 56px;
}

body {
	background-color: black;
}

h3 {
	color: #fff;
	text-align: center;
    font-size: 50px;
}

button {
	display: block;
	margin: auto;
}

#showReader {
	margin-top: 3em;
	width: 20em;
	height: 4em;
}